.bg-2 {
  background-image: url("/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 40px;
  min-height: 100vh;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 1fr 80px;
}
