.footer-cont {
  background: var(--red-gradient);
  min-height: 80px;
  padding-inline: 20px;
}
footer {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.foot-nav a {
  font-weight: 400;
  font-size: 32px;
  background: linear-gradient(180deg, #e4e4e4 0%, #e68686 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.social-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
